<body>
<table th:fragment="header" border="0" cellspacing="0" cellpading="0" width="100%">

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <div><A HREF="#"><IMG SRC="/img/logopca2.jpg"></A></div>
  <ul class="navbar-nav navHeader">
    <li class="nav-item">
      <a class="nav-link" id="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users">Users</a>
    </li>
	<li class="nav-item">
      <a class="nav-link" href="/groups">Groups</a>
    <li class="nav-item">
      <a class="nav-link" href="/Access">Access</a>
  </ul>
</nav>
</table>